
body{
    background-color:brown;
    background-image: url("/day17/images/Improve-Business-Productivity-at-Work.jpg");
}

.gamarjoba{
    color:black;
}
p{
    color:red;
    background-color: greenyellow;
}
p{
    color:blue;   
}
.gamarjoba{
    color:black;
}
/*b{
    color:red;  
}*/
p{background-color: brown;

}


