@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Rubik+Doodle+Triangles&display=swap');
body{
    background-image:url(/day28/images/snow-sky-winter-49-3840x2400.jpg)
}
h1{
    
    color: rgb(114, 12, 150);
    font-size: 150px;
    text-align: center;
    font-family:Rubik Doodle Triangles;
}
h2{
    color: rgb(114, 12, 150);
    font-size: 150px;
    text-align: center;
    font-family:Rubik Doodle Triangles;
}
.nominacia{
    color:rgb(100, 10, 97);
    font-size: 50px;
    text-align: center;
    font-family:Rubik Doodle Triangles;

}
.gamarjvebuli{
    color:rgb(10, 73, 4);
    font-size: 150px;
    text-align: center;
    font-family:Rubik Doodle Triangles;
}
p{
    color: rgb(9, 150, 150);
    font-size: 80px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
hr{
    color: blueviolet;
    font-size: 80px;
}