@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: figtree,sans-serif;
    background-color: rgb(227, 186, 34);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    padding:20px;
    border-radius: 10px;
    width: 400px;
    height: 520px;
    box-shadow: 8px 8px black;


}
.div1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    


}
.learning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    
}   

.div1 b{
    background-color: hsl(47, 88%, 63%);
    border: 2px solid hsl(47, 88%, 63%);
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px 10px;
}
.learning p{
    margin-top: 10px;
    color: hsl(0, 0%, 50);
    font-size: 15px;
    font-weight: 600;
}
h1{
    margin-top: 10px;
    font-weight: 800;
}
.div1 img{
    border-radius: 30px;
    padding: 10px;
}
.div2{
    display: flex;  
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    letter-spacing: 1px;
    margin-top: 10px;
    line-height: 1.5;
    
}
.text p{
    font-weight: 600;
    color: hsl(0, 0%, 50);
}
.avatar{
    width: 40px;
    margin: 10px;
}
.div3{
    display: flex;
    justify-content:left;
    align-items: center;
    width: 100%;
}
.div3 p{
    font-weight: 600;
}

